section.about
  .container.fdc
    h3.about__promo о нас
    .about__content
      p Больше 5 лет опыта работы с различными загрязнениями.
      p Клининг и химчистка мебели
      p 5000+ довольных клиентов
    .link
      a.about__link(href="/about") читать еще
