section.services
  .container.fdc
    h3.services__title наши услуги
    .services__items
      .services__item
        .services__header
          p.services__title-item ГЕНЕРАЛЬНАЯ УБОРКА
          .services__price 
            p от 120 ₽/м²
        .services__content
          p.services__title-content Время выполнения 6-8 часов
          p.services__text Это зависит от нескольких факторов:
          ol.services__list
            li Вид уборки и степень загрязнения
            li Квадратура помещения
            li Дополнительные задачи: мытьё холодильника/микроволновой печи или духового шкафа и д.р.
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Доп. услуги не входят в стоимость
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА МАТРАСА
          .services__price 
            span двуспальный 
            p от 3 000 ₽
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Тщательная очистка поверхности от волос/шерсти, мусора и пыли
            li Устранение всех возможных пятен
            li Обработка всех поверхностей специальным раствором
            li Глубокая промывка ткани от загрязнений с использованием химии
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Удаление сложных запахов +800 ₽
      .services__item
        .services__header
          p.services__title-item ГЕНЕРАЛЬНАЯ УБОРКА
          .services__price
            p от 120 ₽/м²
        .services__content
          p.services__title-content Время выполнения 6-8 часов
          p.services__text Это зависит от нескольких факторов:
          ol.services__list
            li Вид уборки и степень загрязнения
            li Квадратура помещения
            li Дополнительные задачи: мытьё холодильника/микроволновой печи или духового шкафа, стирка + глажка белья и д.р.
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Доп. услуги не входят в стоимость
      .services__item
        .services__header
          p.services__title-item ПОДДЕРЖИВАЮЩАЯ УБОРКА
          .services__price
            p от 150 ₽/м²
        .services__content
          p.services__title-content Время выполнения 8-10 часов
          p.services__text Это зависит от нескольких факторов
          ol.services__list
            li Вид уборки и степень загрязнения
            li Квадратура помещения
            li Дополнительные задачи: мытьё холодильника/микроволновой печи или духового шкафа, стирка + глажка белья и д.р.
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Доп. услуги не входят в стоимость
    .link
      a(href="/services.html") посмотреть все
