section.services__page
  .container.fdc
    .services__items
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА КОВРА
          .services__price
            p от 300 ₽/м²
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Обеспыливание поверхности покрытия
            li Пятновыведение
            li Очищение покрытия специальным раствором
            li Ополаскивание
            li Вывод влаги
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Сушка не входит в стоимость
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА СТУЛА
          .services__price
            p от 400 ₽
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Обеспыливание всех частей
            li Промывка следов от самозамыва
            li Удаление потожировых пятен
            li Удаление пятен от еды и напитков
            li Глубокая промывка ткани от загрязнений с использованием химии
            li Промывка мебели от остатков химии
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Минимальный выезд мастера 2500 ₽
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА МАТРАСА
          .services__price 
            span двуспальный
            p от 3 000 ₽
        .services__content
          p.services__title-content Время выполнения 6-8 часов
          ol.services__list
            li Тщательная очистка поверхности от волос/шерсти, мусора и пыли
            li Устранение всех возможных пятен
            li Обработка всех поверхностей специальным раствором
            li Глубокая промывка ткани от загрязнений с использованием химии
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Удаление сложных запахов +800 ₽
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА МАТРАСА
          .services__price 
            span односпальный 
            p от 3 000 ₽
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Тщательная очистка поверхности от волос/шерсти, мусора и пыли
            li Устранение всех возможных пятен
            li Обработка всех поверхностей специальным раствором
            li Глубокая промывка ткани от загрязнений с использованием химии
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Удаление сложных запахов +800 ₽
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА МАТРАСА
          .services__price 
            span евро
            p от 3 500 ₽
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Тщательная очистка поверхности от волос/шерсти, мусора и пыли
            li Устранение всех возможных пятен
            li Обработка всех поверхностей специальным раствором
            li Глубокая промывка ткани от загрязнений с использованием химии
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Удаление сложных запахов +800 ₽
      .services__item
        .services__header
          p.services__title-item МОЙКА ОКОН
          .services__price 
            span двуспальный 
            p от 3 000 ₽
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Обеспыливание поверхности покрытия
            li Пятновыведение
            li Очищение покрытия специальным раствором
            li Ополаскивание
            li Вывод влаги
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Минимальный выезд мастера 2500 ₽
      .services__promo
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА ДИВАНА
          .services__price
            span книжка
            p от 3000 ₽
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Обеспыливание поверхности и осмотр на наличие сложных/застарелых пятен
            li Устранение их, помощью пятновыводителей
            li Полное очищение всех поверхностей специальным раствором
            li Ополаскивание/нейтрализация
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Химчистка выдвижного элемента +800 ₽
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА ДИВАНА
          .services__price
            span угловой
            p от 3000 ₽
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Обеспыливание поверхности и осмотр на наличие сложных/застарелых пятен
            li Устранение их, помощью пятновыводителей
            li Полное очищение всех поверхностей специальным раствором
            li Ополаскивание/нейтрализация
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Химчистка выдвижного элемента +800 ₽
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА ДИВАНА
          .services__price
            span прямой
            p от 3500 ₽
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Обеспыливание поверхности и осмотр на наличие сложных/застарелых пятен
            li Устранение их, помощью пятновыводителей
            li Полное очищение всех поверхностей специальным раствором
            li Ополаскивание/нейтрализация
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Химчистка выдвижного элемента +800 ₽
      .services__item
        .services__header
          p.services__title-item ХИМЧИСТКА КРЕСЛА
          .services__price
            p от 850 ₽
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Обеспыливание всей поверхности кресла
            li Удаление пятен с кресла (Еда, жир, краска, засаленности)
            li Глубокая промывка ткани от загрязнений
            li Промывка кресла от остатков химии
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Минимальный выезд мастера 2500 ₽
    .services__items.services__items-form
      .services__item
        .services__header
          p.services__title-item ПОДДЕРЖИВАЮЩАЯ УБОРКА
          .services__price 
            p от 150 ₽/м²
        .services__content
          p.services__title-content Время выполнения 8-10 часов
          p.services__text Это зависит от нескольких факторов:
          ol.services__list
            li Вид уборки и степень загрязнения
            li Квадратура помещения
            li Дополнительные задачи: мытьё холодильника/микроволновой печи или духового шкафа, стирка + глажка белья и д.р.
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Доп. услуги не входят в стоимость
      .services__item
        .services__header
          p.services__title-item УБОРКА ПОСЛЕ РЕМОНТА
          .services__price
            p от 150 ₽/м²
        .services__content
          p.services__title-content Время выполнения 8-10 часов
          p.services__text Сумма работ плавающая, но наши менеджеры при осмотре учтут все ваши пожелания и точно рассчитают стоимость работ!
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Доп. услуги не входят в стоимость
      .services__item
        .services__header
          p.services__title-item ГЕНЕРАЛЬНАЯ УБОРКА
          .services__price 
            p от 120 ₽/м²
        .services__content
          p.services__title-content Время выполнения 6-8 часов
          p.services__text Это зависит от нескольких факторов:
          ol.services__list
            li Вид уборки и степень загрязнения
            li Квадратура помещения
            li Дополнительные задачи: мытьё холодильника/микроволновой печи или духового шкафа и д.р.
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Доп. услуги не входят в стоимость
      .services__item
        .services__header
          p.services__title-item СУШКА МЕБЕЛИ И КОВРОВ
          .services__price
            p от 800 ₽
        .services__content
          p.services__title-content
          p.services__text Стоимость зависит от предмета сушки
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Является дополнительной услугой
      .services__item
        .services__header
          p.services__title-item ОЗОНИРОВАНИЕ
          .services__price 
            p от 50 ₽/м²
        .services__content
          p.services__title-content
          p.services__text Озонирование - это профессиональная и экологически чистая технология очищения воздуха
          p.services__text Это услуга, которая поможет вам снизить риски заражения вирусом. В отличие от хлора, который загрязняет экологию, озон через 2-3 часа снова превращается в кислород.
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
      .services__item
        .services__header
          p.services__title-item УБОРКА ПОСЛЕ ПОЖАРА
          .services__price
            p от 250 ₽/м²
        .services__content
          p.services__title-content В стоимость услуг входит:
          ol.services__list
            li Очистка помещений от обгоревших предметов
            li Их демонтаж
            li Удаление остатков обоев и вынос обгоревших вещей и мусора
            li Обработка помещений и полное удаление запаха гари
        .services__footer
          .services__dots
            +icon("services-dots", "services__dots-ico")
          span.services__astrisk Цена зависит от  повреждений и от метража
      include form
